:root{
    --blue: #2A345A;
    --darkblue: #272C4D;
}

body{
    font-family: "Montserrat", sans-serif !important;
}

.row{
    margin-left: auto !important;
    margin-right: auto !important;
    width: 100%;
}

.bg-darkblue{
    background-color: var(--darkblue);
    color: white;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color: var(--blue);
}

.nav-link {
    color: white;
}

.nav-link:hover, .nav-link:focus {
    color: white;
    background-color: var(--blue);
}

.white-shadow-4 {
    box-shadow: 0 2px 4px -1px #fff3,0 4px 5px #ffffff24,0 1px 10px #ffffff1f;
}